.center {
    display: block;
    margin: auto;
}

img {
    margin: auto;
}

.centertext {
    text-align: center;
}

img {
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
}